.loginPage{
    line-height: 1.6em;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loginPage__panel{
    position: relative;
    width: 600px;
    height: fit-content;
    border: 1px solid #dadce0;
    padding: 12px;
    border-radius: 5px;
}

.loginPage__panel__title{
    margin-bottom: 20px;
}

.loginPage__panel__login{
    display: flex;
    flex-wrap: wrap;
}

.loginPage__panel__login__form{
    flex: 1;
    margin-right: 10px;
}

.loginPage__panel__login__logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.loginPage__panel__login__logo img{
    width: 200px;
    object-fit: contain;
}

.loginPage button{
    margin-top: 20px;
    width: 100%;
}

.loginPage a{
    margin-top: 10px;
    width: 100%;
}

.loginPage__panel__footer{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 850px) {
    .loginPage__panel__login{
        flex-direction: column-reverse;
    }

    .loginPage__panel{
        width: 650px;
    }

    .loginPage__panel__title{
        text-align: center;
    }
}