.projectPage{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin-bottom: 20px;
    }
}

.projectPage__content{
    display: flex;
    justify-content: center;
    width: 100%;
}

.conent__card-list--add{

}