.registerPage{
    line-height: 1.6em;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.registerPage__panel{
    position: relative;
    width: 1000px;
    height: fit-content;
    border: 1px solid #dadce0;
    padding: 30px;
    border-radius: 5px;
}

.registerPage__panel__title{
    margin-bottom: 20px;
}

.registerPage__panel__register{
    display: flex;
    flex-wrap: wrap;
}

.registerPage__panel__register__form{
    flex: 1;
    margin-right: 10px;
}

.registerPage__panel__register__logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.registerPage__panel__register__logo img{
    width: 300px;
    object-fit: contain;
}

.registerPage button{
    margin: 12px 12px 0px 0px;
}

.registerPage__panel__footer{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -40px;
    display: flex;
    justify-content: space-between;
}

.form__avatar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        margin: 0;
    }
}

@media (max-width: 850px) {
    .registerPage__panel__register{
        flex-direction: column-reverse;
    }

    .registerPage__panel{
        width: 650px;
    }

    .registerPage__panel__title{
        text-align: center;
    }

    .registerPage__panel__register__form{
        margin: 0;
    }
}